In [7]:
import pandas as pd

fileID_Igor_list_8=['215255', '222553','225544','232908', '235431']     
fileID_Igor_list_25=['215322', '222709','225609','232935', '235456']
fileID_Igor_list_50=['215351','222738','225640','233005', '235527']

In [16]:
datacube

,0,1,2,3,4,5,6,7,8,9,...,36290,36291,36292,36293,36294,36295,36296,36297,36298,36299
0,2178,2189,2172,2193,2177,2180,2179,2191,2190,2179,...,2170,2179,2169,2171,2172,2175,2183,2182,2188,2171
1,2180,2178,2185,2172,2186,2239,2179,2175,2182,2174,...,2182,2182,2188,2168,2189,2185,2175,2187,2176,2180

In [32]:
prefix = '../expt_data/Cornelius_data_2/'
year = '2018'
date = '20181008'

data =[]

for fileID_Igor in fileID_Igor_list_25:
    
    zf =prefix + year+ '/' + date + '/' + date +'-'+fileID_Igor +'/cimg' + date + '-' + fileID_Igor + '.dat'
    datacube = pd.read_csv(str(zf), sep="\t", header=None)
    print(str(zf))
    data.append(datacube)

../expt_data/Cornelius_data_2/2018/20181008/20181008-215322/cimg20181008-215322.dat
../expt_data/Cornelius_data_2/2018/20181008/20181008-222709/cimg20181008-222709.dat
../expt_data/Cornelius_data_2/2018/20181008/20181008-225609/cimg20181008-225609.dat
../expt_data/Cornelius_data_2/2018/20181008/20181008-232935/cimg20181008-232935.dat
../expt_data/Cornelius_data_2/2018/20181008/20181008-235456/cimg20181008-235456.dat

In [26]:
img = 11*33
img

363

In [19]:
all_data = pd.concat(data, axis=1)

In [28]:
datacube.values.shape[1] / img

100.0

In [33]:
file.values.shape[1]

NameError: name 'file' is not defined